.downloadView{
  #mediaList{
    li{
      background-color:rgba(255,0,0,0.2);
      padding:1em;
    }
    .mediaLabel{
      font-weight:bold;
      padding:0 0 0.3em 0;
    }
    .progLabel{

    }

    progress{
      width:100%;
    }

    .dlComplete{
      background-color:rgba(0,255,0,0.2);
      progress[value]::-webkit-progress-value {
        background-color:green;
      }
    }

  }
}
